.editableTableCell {
  height: 100%;
  min-height: 16px;
  min-width: 55px;
  width: 100%;

  div:first-child {
    height: 100%;
    min-height: 16px;
    width: 100%;

    span:empty {
      display: block;
      height: 100%;
      min-height: 16px;
      width: 100%;
    }
  }

  input {
    background: white;
    width: calc(100% - 8px);
  }
}