table {
  margin: 0 auto;  border-collapse: collapse;
  /* border: 1px solid black; */
  th, td {
    border-collapse: collapse;
  }

  tr {
    /*this is ignored but it's so a td element can take up the entire height of a row*/
    height: 1px;
  }

  th {
    padding-left: 7px;
    padding-right: 7px;
    height: 35px;
  }

  td {
    padding: 7px;
    height: 100%
  }
}

.mainTable {
  width: 90%;
  margin-bottom: 10px;
  border: 1px solid #3c78d8;

  .mainHeader {
    th {
      background-color: #EFEFEF;
    }
  }

  td, th {
    border: 1px solid #3c78d8;
  }
  th {
    background-color: #CEE9FB;
  }
}