.hierarchy {
  display: flex;
  flex-direction: row;
  margin: 10px;

  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 8pt;
  font-weight: 400;

  .collection {
    display: flex;
    flex-direction: column;

    color: #222222;

    .level {
      padding: 4px 12px 4px 13px;
      border: solid 1px #979797;
      background-color: #bddfdf;
      text-align: center;
      max-width: 120px;
    }

    .attr {
      padding: 4px 14px 4px 15px;
      border: solid 1px #979797;
      background-color: #e6e6e6;
      text-align: center;
      max-width: 120px;
    }
  }

  .levelArrow, .attrsArrow {
    position: absolute;
  }
}

.debug {
  white-space: pre;
  font-family: monospace;
}
