.hierarchy {
  display: flex;
  flex-direction: row;
  margin: 10px;

  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 8pt;
  font-weight: 400;

  .collection {
    display: flex;
    flex-direction: column;
    color: #222222;

    .level {
      padding: 4px 12px 4px 13px;
      border: solid 1px #979797;
      background-color: #bddfdf;
      text-align: center;
      max-width: 120px;
    }

    .attrs {
      display: block;

      .attr {
        padding: 4px 14px 4px 15px;
        border: solid 1px #979797;
        background-color: #e6e6e6;
        text-align: center;
        max-width: 120px;
      }
    }
  }

  .addButton {
    background-color: #bddfdf;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    &.collection {
      margin-left: 5px;
    }
    &.attribute {
      align-self: center;
      margin-top: -5px;
    }
    &:hover {
      cursor: pointer;
      background-color: #979797;
    }
    &:active {
      background-color: #979797;
    }
    svg {
      path{
        fill: white
      }
    }
  }

  .levelArrow, .attrsArrow {
    position: absolute;
  }
}

.debug {
  white-space: pre;
  font-family: monospace;
}
