table {
  margin: 0 auto;  border-collapse: collapse;
  /* border: 1px solid black; */
  th, td {
    border-collapse: collapse;
  }
  tr {
    /*this is ignored but it's so a td element can take up the entire height of a row*/
    height: 1px;
  }
  th {
    padding-left: 7px;
    padding-right: 7px;
    height: 35px;
  }
  td {
    padding: 7px;
    height: 100%
  }
}

.subTable {
  width: 100%;
  height: 100%;
}

.mainTable {
  width: 90%;
  margin-bottom: 10px;

  .mainHeader {
    th {
      background-color: #EFEFEF;
    }
  }
}

.landscape {
  table-layout: fixed;
}

.scrollable {
  table-layout: auto;
}

.collection0 {
  border: 1px solid #3c78d8;
  td {
    border: 1px solid #3c78d8;
  }
  th {
    background-color: #CEE9FB;
  }
}

.collection0, .collection1, .collection2, .collection3, .collection4 {
  th {
    border-right: none;
    border-left: none;
  }
}

.collection1>th, th.collection1 {
  background-color: #F7EABA;
}

.subTable.collection1, .collection1>tbody>tr>td {
  border: 1px solid #f1c232;
}

.collection2>th, th.collection2 {
  background-color: #CCBEE0;
}

.subTable.collection2,  .collection2>tbody>tr>td {
  border: 1px solid #8e7cc3;
}

.collection3>th, th.collection3 {
  background-color: #BEE0CA;
}

.subTable.collection3, .collection3>tbody>tr>td {
  border: 1px solid #93c47d;
}

.collection4>th, th.collection4 {
  background-color: #E7C3A4;
}

.subTable.collection4, .collection4>tbody>tr>td {
  border: 1px solid #f6b26b;
}
