.landscape {
  table-layout: fixed;
}

.scrollable {
  table-layout: auto;
}

.main-table.collection-0, .collection-0>tbody>tr>td {
  border: 1px solid #3c78d8;
}

.collection-0>th, th.collection-0 {
  background-color: #CEE9FB;
}

.collection-1>th, th.collection-1 {
  background-color: #F7EABA;
}

.sub-table.collection-1, .collection-1>tbody>tr>td {
  border: 1px solid #f1c232;
}

.collection-2>th, th.collection-2 {
  background-color: #CCBEE0;
}

.sub-table.collection-2,  .collection-2>tbody>tr>td {
  border: 1px solid #8e7cc3;
}

.collection-3>th, th.collection-3 {
  background-color: #BEE0CA;
}

.sub-table.collection-3, .collection-3>tbody>tr>td {
  border: 1px solid #93c47d;
}

.collection-4>th, th.collection-4 {
  background-color: #E7C3A4;
}

.sub-table.collection-4, .collection-4>tbody>tr>td {
  border: 1px solid #f6b26b;
}
