table {
  margin: 0 auto;  border-collapse: collapse;
  /* border: 1px solid black; */
  th, td {
    border-collapse: collapse;
  }
  tr {
    /*this is ignored but it's so a td element can take up the entire height of a row*/
    height: 1px;
  }
  th {
    padding-left: 7px;
    padding-right: 7px;
    height: 35px;
  }
  td {
    padding: 7px;
    height: 100%
  }
}

.subTable {
  width: 100%;
  height: 100%;
}

.mainTable {
  width: 90%;
  margin-bottom: 10px;

  .mainHeader {
    th {
      background-color: #EFEFEF;
    }
  }
}

.landscape {
  table-layout: fixed;
}

.scrollable {
  table-layout: auto;
}

.collection0 {
  border: 1px solid #3c78d8;
  td {
    border: 1px solid #3c78d8;
  }
  th {
    background-color: #CEE9FB;
  }
}

.collection1 {
  border: 1px solid #f1c232;
  td {
    border: 1px solid #f1c232;
  }
  th {
    background-color: #F7EABA;
  }
}

.collection2 {
  border: 1px solid #8e7cc3;
  td {
    border: 1px solid #8e7cc3;
  }
  th {
    background-color: #CCBEE0;
  }
}

.collection3 {
  border: 1px solid #93c47d;
  td {
    border: 1px solid #93c47d;
  }
  th {
    background-color: #BEE0CA;
  }
}

.collection4 {
  border: 1px solid #f6b26b;
  td {
    border: 1px solid #f6b26b;
  }
  th {
    background-color: #E7C3A4;
  }
}

.collection0, .collection1, .collection2, .collection3, .collection4 {
  th {
    border-right: none;
    border-left: none;
  }
}
