table {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 8pt;

  margin: 0 auto;
  border-spacing: 0;

  th, td {
    border-spacing: 0;
  }

  tr {
    /*this is ignored but it's so a td element can take up the entire height of a row*/
    height: 1px;
    border-spacing: 0;
  }

  th {
    padding: 1px 4px 2px 4px;
  }

  td {
    padding: 1px 4px 2px 4px;
    height: 100%
  }
}

.landscape {
  table-layout: fixed;
}

.scrollable {
  table-layout: auto;
}

.mainTable {
  width: 90%;
  margin-bottom: 20px;

  .mainHeader {
    th {
      background-color: #EFEFEF;
      border: 1px solid #3c78d8;
    }
  }

  &.flatTable {
    td, th {
      border: 1px solid #3c78d8;
    }
    th {
      background-color: #CEE9FB;
    }
  }

  &.landscapeTable {
    &.collection0, .collection0 {
      border: 1px solid #3c78d8;
      td {
        border: 1px solid #3c78d8;
      }
      th {
        background-color: #CEE9FB;
      }
    }

    .collection1 {
      border: 1px solid #f1c232;
      td {
        border: 1px solid #f1c232;
      }
      th {
        background-color: #F7EABA;
      }
    }

    .collection2 {
      border: 1px solid #8e7cc3;
      td {
        border: 1px solid #8e7cc3;
      }
      th {
        background-color: #CCBEE0;
      }
    }

    .collection3 {
      border: 1px solid #93c47d;
      td {
        border: 1px solid #93c47d;
      }
      th {
        background-color: #BEE0CA;
      }
    }

    .collection4 {
      border: 1px solid #f6b26b;
      td {
        border: 1px solid #f6b26b;
      }
      th {
        background-color: #E7C3A4;
      }
    }

    .collection0, .collection1, .collection2, .collection3, .collection4 {
      th {
        border-right: none;
        border-left: none;
      }
    }
  }

  &.portraitTable {
    overflow: scroll;
    .datasetNameHeader {
      position: sticky;
      top: 0;
      z-index: 4;
    }

    &.collection0, .collection0, &.collection0>tbody>tr>td {
      border: 1px solid #3c78d8;
    }

    &.collection0>th, .collection0>th, th.collection0 {
      background-color: #CEE9FB;
      border: 1px solid #3c78d8;
      position: sticky;
      top: 16px;
      z-index: 3;
    }

    .collection1>th, th.collection1 {
      background-color: #F7EABA;
      position: sticky;
      top: 32px;
      z-index: 2;
    }

    .subTable.collection1, .collection1>tbody>tr>th, .collection1>tbody>tr>td {
      border: 1px solid #f1c232;
    }

    .collection2>th, th.collection2 {
      background-color: #CCBEE0;
      position: sticky;
      top: 48px;
      z-index: 1;
    }

    .subTable.collection2,  .collection2>tbody>tr>th, .collection2>tbody>tr>td {
      border: 1px solid #8e7cc3;
    }

    .collection3>th, th.collection3 {
      background-color: #BEE0CA;
      position: sticky;
      top: 64px;
      z-index: 1;
    }

    .subTable.collection3, .collection3>tbody>tr>th, .collection3>tbody>tr>td {
      border: 1px solid #93c47d;
    }

    .collection4>th, th.collection4 {
      background-color: #E7C3A4;
      position: sticky;
      top: 80px;
      z-index: 1;
    }

    .subTable.collection4, .collection4>tbody>tr>th, .collection4>tbody>tr>td {
      border: 1px solid #f6b26b;
    }
  }
}

.subTable {
  width: 100%;
  height: 100%;
}

.portraitTableWrapper {
  overflow: auto;
  height: 90vh;
}
