.addButton {
  background-color: #bddfdf;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  &.collection {
    margin-left: 5px;
  }
  &.attribute {
    align-self: center;
    margin-top: -5px;
  }
  &:hover {
    cursor: pointer;
    background-color: #979797;
  }
  &:active {
    background-color: #979797;
  }
  svg {
    path{
      fill: white
    }
  }
}

.createNewAttr {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 8pt;
  font-weight: 400;
  input {
    width: 65px;
    box-sizing: border-box;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 8pt;
    font-weight: 400;
  }
  button {
    align-self: center;
    margin-top: 5px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 8pt;
    font-weight: 400;
  }
}