.hierarchyWrapper {
  height: 100vh;
}

.hierarchy {
  display: flex;
  flex-direction: row;
  margin: 10px;

  font-family: 'Montserrat', sans-serif;
  font-size: 8pt;
  font-weight: 400;

  .attr {
    padding: 4px 14px 4px 15px;
    border: solid 1px #979797;
    background-color: #e6e6e6;
    text-align: center;
    max-width: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.debug {
  white-space: pre;
  font-family: monospace;
}
